body {
  min-height: 100vh;
  background: #215652;
  background: linear-gradient(17deg, #060c0b 0%, #215652 100%);
}

#root {
  // background-image: url("/img/grid-removebg-preview.png");
  min-height: 100vh;
}

button.button {
  i {
    margin-right: 5px;
  }
}

.app-btn-container {
  margin-bottom: 75px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .left {
    display: flex;
    justify-content: flex-start;
  }

  .right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
  }

  button.button {
    margin-left: 15px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
}

.wrapper {
  padding: 5px 15px;
}

.content-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

h1.page-title {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin: 30px 0;
}

.tubes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px 0;
}

.tube {
  border: solid 1px #fff;
  border-top: none;
  margin: 0 30px 75px;
  width: 55px;
  border-radius: 0 0 10px 10px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -15px;
    left: -7.5px;
    border: solid 1px #fff;
    border-bottom: none;
    border-radius: 7.5px;
    height: 15px;
    width: calc(100% + 15px);
  }

  &:hover {
    &:not(.edit) {
      cursor: pointer;
    }
  }
}

.ball {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin: 10px auto;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:not(.null) {
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  }

  &.edit:hover {
    cursor: pointer;
  }
}

.modal-solving-on-progress {
  .modal-content {
    text-align: center;
    padding: 15px;
  }

  i.fas.fa-spinner {
    animation: rotating 2s infinite cubic-bezier(0.76, 0.03, 0.45, 0.98);
    color: #fffffff2;
    font-size: 60px;
  }

  button.button.is-danger {
    display: block;
    margin: 15px auto;
    transform: translateX(102px);
  }

  p.solve-timer {
    font-size: 24px;
    margin: 15px 0;
    font-weight: 600;
    color: #fff;
    opacity: 0.9;
  }
}

.autoplay-controller {
  margin: -35px 0 80px;

  h3 {
    text-align: center;
    color: white;
    font-size: 32px;
    margin: 0 0 30px;
  }

  .btn-container {
    position: relative;
    width: fit-content;
    margin: 0 auto;

    button.button {
      margin: 0 7.5px;
    }

    button.button.reset-btn {
      position: absolute;
      top: 0;
      right: -70px;
    }
  }
}
