body {
  min-height: 100vh;
  background: #215652;
  background: linear-gradient(17deg, #060c0b 0%, #215652 100%);
}

#root {
  min-height: 100vh;
}

button.button i {
  margin-right: 5px;
}

.app-btn-container {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.app-btn-container .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.app-btn-container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.app-btn-container button.button {
  margin-left: 15px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.wrapper {
  padding: 5px 15px;
}

.content-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

h1.page-title {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  margin: 30px 0;
}

.tubes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 30px 0;
}

.tube {
  border: solid 1px #fff;
  border-top: none;
  margin: 0 30px 75px;
  width: 55px;
  border-radius: 0 0 10px 10px;
  position: relative;
}

.tube::after {
  content: "";
  position: absolute;
  top: -15px;
  left: -7.5px;
  border: solid 1px #fff;
  border-bottom: none;
  border-radius: 7.5px;
  height: 15px;
  width: calc(100% + 15px);
}

.tube:hover:not(.edit) {
  cursor: pointer;
}

.ball {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin: 10px auto;
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ball:not(.null) {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

.ball.edit:hover {
  cursor: pointer;
}

.modal-solving-on-progress .modal-content {
  text-align: center;
  padding: 15px;
}

.modal-solving-on-progress i.fas.fa-spinner {
  -webkit-animation: rotating 2s infinite cubic-bezier(0.76, 0.03, 0.45, 0.98);
          animation: rotating 2s infinite cubic-bezier(0.76, 0.03, 0.45, 0.98);
  color: #fffffff2;
  font-size: 60px;
}

.modal-solving-on-progress button.button.is-danger {
  display: block;
  margin: 15px auto;
  -webkit-transform: translateX(102px);
          transform: translateX(102px);
}

.autoplay-controller {
  margin: -20px 0 80px;
}

.autoplay-controller h3 {
  text-align: center;
  color: white;
  font-size: 32px;
  margin: 0 0 30px;
}

.autoplay-controller .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.autoplay-controller .btn-container button.button {
  margin: 0 7.5px;
}
/*# sourceMappingURL=style.css.map */